# Series and Dataframe

# 1. Pandas

In [1]:
import pandas as pd
import numpy as np

# Creating a Series from a python list with default numeric index

In [ ]:

myindex = ['USA','Canada','England']
mydata = [1776,1867,1821]

Series with default index:
 0    1776
1    1867
2    1821
dtype: int64

## Series with default integer Index

In [4]:

myser = pd.Series(data=mydata)
print("Series with default index: \n",myser)

Series with default index:
 0    1776
1    1867
2    1821
dtype: int64

## Creating a series with custom index

In [3]:
myser = pd.Series(data=mydata, index=myindex)
print("Series with named index: \n",myser)

Series with named index:
 USA        1776
Canada     1867
England    1821
dtype: int64

## Creating a series from Numpy array

In [5]:
ran_data = np.random.randint(0,100,4)
print("\nRandom data from Numpy array: ", ran_data)

Random data from Numpy array:  [85 38 13 40]

In [6]:
names = ['Alice','Bob','Charles','Dave']
ages = pd.Series(ran_data, index=names)
print("\nSeries from Numpy array: \n",ages)

Series from Numpy array:
 Alice      85
Bob        38
Charles    13
Dave       40
dtype: int32

## Creating a series from Dictionary

In [7]:
ages_dict = {'Sammy':5, 'Frank': 10, 'Spike': 7}
print("\nSeries from Disctionary :\n", pd.Series(ages_dict))

Series from Disctionary :
 Sammy     5
Frank    10
Spike     7
dtype: int64

# Creating a Series from imaginary sales data

In [13]:
q1 = {'japan': 80, 'China': 450, 'India':200, 'USA':250}
q2 = {'Brazil': 100, 'China': 500, 'India':210, 'USA':260}

# Convert dictionaries into pandas series
sales_Q1 = pd.Series(q1)
sales_Q2 = pd.Series(q2)
print("\nSales data for Q1", sales_Q1)
# Accessing value by named index
print("\nSales in Japan for Q1",sales_Q1['japan'])

# integer based location indexing (default-index)
print("\nFirst entry in Q1 sales data: ", sales_Q1[0])

Sales data for Q1 japan     80
China    450
India    200
USA      250
dtype: int64

Sales in Japan for Q1 80

First entry in Q1 sales data:  80

C:\Users\dbda.STUDENTSDC\AppData\Local\Temp\ipykernel_6868\4225161512.py:12: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("\nFirst entry in Q1 sales data: ", sales_Q1[0])

In [ ]:
#errors
print(sales_Q1['France']) #Non-existent key
print(sales_Q1['USA ']) # Extra space in key
print(sales_Q1['usa'])  #case mismatch

In [14]:
# Series Operations
print("\nSeries keys : ",sales_Q1.keys())

Series keys :  Index(['japan', 'China', 'India', 'USA'], dtype='object')

In [15]:
# Broadcasting operation
print("\nSales Q1 doubled:\n", sales_Q1*2)
print("\nSales Q2 divided by 100:\n", sales_Q2/100)

Sales Q1 doubled:
 japan    160
China    900
India    400
USA      500
dtype: int64

Sales Q2 divided by 100:
 Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [17]:
# Handling mismatch indices
print("\nSales Q1 + Sales Q2 (with NaN where no matching key): \n", sales_Q1+sales_Q2)

#Handling missing data (filling NaN with default value)
print("\Sales Q1 + Salees Q2 (fill NaN with 0):\n",sales_Q1.add(sales_Q2, fill_value=0))

Sales Q1 + Sales Q2 (with NaN where no matching key):
 Brazil      NaN
China     950.0
India     410.0
USA       510.0
japan       NaN
dtype: float64
\Sales Q1 + Salees Q2 (fill NaN with 0):
 Brazil    100.0
China     950.0
India     410.0
USA       510.0
japan      80.0
dtype: float64

# 2. DataFrame

In [30]:
np.random.seed(101)
mydata = np.random.randint(0,101,(4,3))

print("Generated Data (mydata): \n", mydata)

myindex = ['CA','NY','AZ','TX']
mycolumns = ['Jan','Feb','Mar']

# creating dataframe without index and xolumns
df = pd.DataFrame(data=mydata)
print("\nDataframe without index/cols: \n", df)

Generated Data (mydata):
 [[95 11 81]
 [70 63 87]
 [75  9 77]
 [40  4 63]]

Dataframe without index/cols:
     0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [ ]:

df = pd.DataFrame(data=mydata, index=myindex)
print("\nDataFrame with custom row index : \n", df)

df = pd.DataFrame(data=mydata, columns=mycolumns)
print("\nDataFrame with custom and column names: \n", df)

# create dataframe with custom index
df = pd.DataFrame(data=mydata, index=myindex, columns=mycolumns)
print("\nDataFrame with custom row index and column names: \n", df)

DataFrame with custom row index :
      0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

DataFrame with custom and column names:
    Jan  Feb  Mar
0   95   11   81
1   70   63   87
2   75    9   77
3   40    4   63

DataFrame with custom row index and column names:
     Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [36]:
# Displaying information about the dataframe
print("\nDataFrame Info:")
print(df.info())

DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, CA to TX
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     4 non-null      int32
 1   Feb     4 non-null      int32
 2   Mar     4 non-null      int32
dtypes: int32(3)
memory usage: 80.0+ bytes
None

# Creating a Dataframe from a CSV file

In [47]:
df = pd.read_csv('./data_pd/tips.csv')
# print(df.columns)
# print(df.index)
# print(df.head(3))
# print(df.tail(3))
# print(len(df))
# print(df.describe())
# df.describe().transpose()
df.head(3)

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458

In [50]:
# column selection and indexing
# selecting a single column
print(df['total_bill'])
print("="*100)
print(type(df['total_bill']))

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
       ...
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64
====================================================================================================
<class 'pandas.core.series.Series'>

In [52]:
# Selecting mutiple columns (use a list of column names)
# print(df[['total_bill', 'tip']])
df[['total_bill', 'tip']]

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [53]:
# Create new columns based on existing ones

df['tip_percentage'] = 100 * df['tip'] / df['total_bill']
df['price_per_person'] = df['total_bill']/ df['size']
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.495000,Christy Cunningham,3.560330e+15,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.446667,Douglas Tucker,4.478070e+15,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.003333,Travis Walters,6.011810e+15,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.840000,Nathaniel Harris,4.676140e+15,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.147500,Tonya Carter,4.832730e+15,Sun2251,14.680765

In [54]:
# Adjust the 'price_per_person by rounding it to 2 decimal places
df['price_per_person'] = np.round(df['price_per_person'], 2)
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,tip_percentage
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959,5.944673
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608,16.054159
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458,16.658734
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260,13.978041
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251,14.680765

In [55]:
# remove the 'tip_percentage' col
df = df.drop("tip_percentage", axis=1)
df.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251

In [59]:
# Show all cols in the display
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251
5,25.29,4.71,Male,No,Sun,Dinner,4,6.32,Erik Smith,2.131400e+14,Sun9679
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2.223730e+15,Sun5985
7,26.88,3.12,Male,No,Sun,Dinner,4,6.72,Robert Buck,3.514790e+15,Sun8157
8,15.04,1.96,Male,No,Sun,Dinner,2,7.52,Joseph Mcdonald,3.522870e+15,Sun6820
9,14.78,3.23,Male,No,Sun,Dinner,2,7.39,Jerome Abbott,3.532120e+15,Sun3775
10,10.27,1.71,Male,No,Sun,Dinner,2,5.14,William Riley,5.662880e+11,Sun2546
11,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4.577820e+15,Sun6686
12,15.42,1.57,Male,No,Sun,Dinner,2,7.71,Chad Harrington,5.770410e+11,Sun1300
13,18.43,3.00,Male,No,Sun,Dinner,4,4.61,Joshua Jones,6.011160e+15,Sun2971
14,14.83,3.02,Female,No,Sun,Dinner,2,7.42,Vanessa Jones,3.001670e+13,Sun3848
15,21.58,3.92,Male,No,Sun,Dinner,2,10.79,Matthew Reilly,1.800730e+14,Sun1878
16,10.33,1.67,Female,No,Sun,Dinner,3,3.44,Elizabeth Foster,4.240030e+15,Sun9715
17,16.29,3.71,Male,No,Sun,Dinner,3,5.43,John Pittman,6.521340e+15,Sun2998
18,16.97,3.50,Female,No,Sun,Dinner,3,5.66,Laura Martinez,3.042230e+13,Sun2789
19,20.65,3.35,Male,No,Sat,Dinner,3,6.88,Timothy Oneal,6.568070e+15,Sat9213
20,17.92,4.08,Male,No,Sat,Dinner,2,8.96,Thomas Rice,4.403300e+15,Sat1709
21,20.29,2.75,Female,No,Sat,Dinner,2,10.14,Natalie Gardner,5.448130e+15,Sat9618
22,15.77,2.23,Female,No,Sat,Dinner,2,7.88,Ashley Shelton,3.524120e+15,Sat9786
23,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3.542580e+15,Sat239
24,19.82,3.18,Male,No,Sat,Dinner,2,9.91,Christopher Ross,3.673910e+13,Sat6236
25,17.81,2.34,Male,No,Sat,Dinner,4,4.45,Robert Perkins,3.050290e+13,Sat907
26,13.37,2.00,Male,No,Sat,Dinner,2,6.68,Kyle Avery,6.531340e+15,Sat6651
27,12.69,2.00,Male,No,Sat,Dinner,2,6.34,Patrick Barber,3.015560e+13,Sat394
28,21.70,4.30,Male,No,Sat,Dinner,2,10.85,David Collier,5.529690e+15,Sat3697
29,19.65,3.00,Female,No,Sat,Dinner,2,9.82,Melinda Murphy,5.489270e+15,Sat2467
30,9.55,1.45,Male,No,Sat,Dinner,2,4.78,Grant Hall,3.019650e+13,Sat4099
31,18.35,2.50,Male,No,Sat,Dinner,4,4.59,Danny Santiago,6.304160e+11,Sat4947
32,15.06,3.00,Female,No,Sat,Dinner,2,7.53,Amanda Wilson,2.131860e+14,Sat1327
33,20.69,2.45,Female,No,Sat,Dinner,4,5.17,Amber Francis,3.777430e+14,Sat6649
34,17.78,3.27,Male,No,Sat,Dinner,2,8.89,Jacob Castillo,3.551490e+15,Sat8124
35,24.06,3.60,Male,No,Sat,Dinner,3,8.02,Joseph Mullins,5.519770e+15,Sat632
36,16.31,2.00,Male,No,Sat,Dinner,3,5.44,William Ford,3.527690e+15,Sat9139
37,16.93,3.07,Female,No,Sat,Dinner,3,5.64,Erin Lewis,5.161700e+15,Sat6406
38,18.69,2.31,Male,No,Sat,Dinner,3,6.23,Brandon Bradley,4.427600e+15,Sat4056
39,31.27,5.00,Male,No,Sat,Dinner,3,10.42,Mr. Brandon Berry,6.011530e+15,Sat6373
40,16.04,2.24,Male,No,Sat,Dinner,3,5.35,Adam Edwards,3.544450e+15,Sat8549
41,17.46,2.54,Male,No,Sun,Dinner,2,8.73,David Boyer,3.536680e+15,Sun9460
42,13.94,3.06,Male,No,Sun,Dinner,2,6.97,Bryan Brown,3.623120e+13,Sun1699
43,9.68,1.32,Male,No,Sun,Dinner,2,4.84,Christopher Spears,4.387670e+15,Sun3279
44,30.40,5.60,Male,No,Sun,Dinner,4,7.60,Todd Cooper,5.038470e+11,Sun2274
45,18.29,3.00,Male,No,Sun,Dinner,2,9.14,Richard Fitzgerald,3.751570e+14,Sun8643
46,22.23,5.00,Male,No,Sun,Dinner,2,11.12,Joshua Gilmore,4.292070e+12,Sun7097
47,32.40,6.00,Male,No,Sun,Dinner,4,8.10,James Barnes,3.552000e+15,Sun9677
48,28.55,2.05,Male,No,Sun,Dinner,3,9.52,Austin Fisher,6.011480e+15,Sun4142
49,18.04,3.00,Male,No,Sun,Dinner,2,9.02,William Roth,6.573920e+15,Sun9774
50,12.54,2.50,Male,No,Sun,Dinner,2,6.27,Jeremiah Neal,2.225400e+15,Sun2021
51,10.29,2.60,Female,No,Sun,Dinner,2,5.14,Jessica Ibarra,4.999760e+12,Sun4474
52,34.81,5.20,Female,No,Sun,Dinner,4,8.70,Emily Daniel,4.291280e+15,Sun6165
53,9.94,1.56,Male,No,Sun,Dinner,2,4.97,Curtis Morgan,4.628630e+15,Sun4561
54,25.56,4.34,Male,No,Sun,Dinner,4,6.39,Ronald Owens,6.569610e+15,Sun9470
55,19.49,3.51,Male,No,Sun,Dinner,2,9.74,Michael Hamilton,6.502230e+15,Sun1118
56,38.01,3.00,Male,Yes,Sat,Dinner,4,9.50,James Christensen DDS,3.497940e+14,Sat8903
57,26.41,1.50,Female,No,Sat,Dinner,2,13.20,Melody Simon,4.745390e+15,Sat8980
58,11.24,1.76,Male,Yes,Sat,Dinner,2,5.62,Troy Guerrero,3.560780e+15,Sat6683
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6.596450e+15,Sat8139
60,20.29,3.21,Male,Yes,Sat,Dinner,2,10.14,Anthony Mclean,3.476140e+14,Sat2353
61,13.81,2.00,Male,Yes,Sat,Dinner,2,6.90,Ryan Hernandez,4.766830e+12,Sat3030
62,11.02,1.98,Male,Yes,Sat,Dinner,2,5.51,Joseph Hart,1.800460e+14,Sat2265
63,18.29,3.76,Male,Yes,Sat,Dinner,4,4.57,Chad Hart,5.801710e+11,Sat4178
64,17.59,2.64,Male,No,Sat,Dinner,3,5.86,Michael Johnson,2.222110e+15,Sat1667
65,20.08,3.15,Male,No,Sat,Dinner,3,6.69,Justin Dixon,1.800210e+14,Sat6840
66,16.45,2.47,Female,No,Sat,Dinner,2,8.22,Rachel Vaughn,3.569260e+15,Sat4750
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4.359490e+15,Sat3455
68,20.23,2.01,Male,No,Sat,Dinner,2,10.12,Mr. Travis Bailey Jr.,6.040679e+10,Sat561
69,15.01,2.09,Male,Yes,Sat,Dinner,2,7.50,Adam Hall,4.700920e+15,Sat855
70,12.02,1.97,Male,No,Sat,Dinner,2,6.01,Max Brown,2.131400e+14,Sat2100
71,17.07,3.00,Female,No,Sat,Dinner,3,5.69,Teresa Fisher,5.442220e+15,Sat3469
72,26.86,3.14,Female,Yes,Sat,Dinner,2,13.43,Victoria Obrien MD,4.216250e+12,Sat1967
73,25.28,5.00,Female,Yes,Sat,Dinner,2,12.64,Julie Holmes,5.418690e+15,Sat6065
74,14.73,2.20,Female,No,Sat,Dinner,2,7.36,Ashley Harris,5.018290e+11,Sat6548
75,10.51,1.25,Male,No,Sat,Dinner,2,5.26,Kenneth Hayes,2.131420e+14,Sat5056
76,17.92,3.08,Male,Yes,Sat,Dinner,2,8.96,Mark Smith,6.761880e+11,Sat9908
77,27.20,4.00,Male,No,Thur,Lunch,4,6.80,John Davis,3.034480e+13,Thur4924
78,22.76,3.00,Male,No,Thur,Lunch,2,11.38,Chris Hahn,3.591890e+15,Thur2863
79,17.29,2.71,Male,No,Thur,Lunch,2,8.64,Brian Diaz,4.759290e+15,Thur9501
80,19.44,3.00,Male,Yes,Thur,Lunch,2,9.72,Louis Torres,3.884840e+13,Thur6453
81,16.66,3.40,Male,No,Thur,Lunch,2,8.33,William Martin,4.550550e+15,Thur8232
82,10.07,1.83,Female,No,Thur,Lunch,1,10.07,Julie Moody,6.304130e+11,Thur4909
83,32.68,5.00,Male,Yes,Thur,Lunch,2,16.34,Daniel Murphy,5.356180e+15,Thur8801
84,15.98,2.03,Male,No,Thur,Lunch,2,7.99,Jason Jones,4.442980e+15,Thur1944
85,34.83,5.17,Female,No,Thur,Lunch,4,8.71,Shawna Cook,6.011790e+15,Thur7972
86,13.03,2.00,Male,No,Thur,Lunch,2,6.52,Derek Thomas,2.131610e+14,Thur6793
87,18.28,4.00,Male,No,Thur,Lunch,2,9.14,Donald Williams,5.363750e+15,Thur3636
88,24.71,5.85,Male,No,Thur,Lunch,2,12.36,Roger Taylor,4.410250e+12,Thur9003
89,21.16,3.00,Male,No,Thur,Lunch,2,10.58,Keith Lewis,4.356010e+15,Thur6273
90,28.97,3.00,Male,Yes,Fri,Dinner,2,14.48,Daniel Mason,3.597460e+15,Fri4175
91,22.49,3.50,Male,No,Fri,Dinner,2,11.24,Earl Horn,6.011850e+15,Fri5700
92,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3.508910e+15,Fri3780
93,16.32,4.30,Female,Yes,Fri,Dinner,2,8.16,Natalie Nguyen,5.181240e+15,Fri6963
94,22.75,3.25,Female,No,Fri,Dinner,2,11.38,Jamie Garza,6.763180e+11,Fri2318
95,40.17,4.73,Male,Yes,Fri,Dinner,4,10.04,Aaron Bentley,1.800270e+14,Fri9628
96,27.28,4.00,Male,Yes,Fri,Dinner,2,13.64,Eric Carter,4.563050e+15,Fri3159
97,12.03,1.50,Male,Yes,Fri,Dinner,2,6.02,Eric Herrera,5.801160e+11,Fri9268
98,21.01,3.00,Male,Yes,Fri,Dinner,2,10.50,Michael Li,4.831800e+15,Fri144
99,12.46,1.50,Male,No,Fri,Dinner,2,6.23,Edward Carter,3.474360e+14,Fri5575
100,11.35,2.50,Female,Yes,Fri,Dinner,2,5.68,Lori Lynch,3.855830e+13,Fri4106
101,15.38,3.00,Female,Yes,Fri,Dinner,2,7.69,Tiffany Colon,6.011010e+15,Fri8382
102,44.30,2.50,Female,Yes,Sat,Dinner,3,14.77,Heather Cohen,3.797710e+14,Sat6240
103,22.42,3.48,Female,Yes,Sat,Dinner,2,11.21,Kathleen Hawkins,3.480100e+14,Sat1015
104,20.92,4.08,Female,No,Sat,Dinner,2,10.46,Gabrielle Frederick,4.013010e+15,Sat3194
105,15.36,1.64,Male,Yes,Sat,Dinner,2,7.68,David Price,4.029960e+12,Sat5106
106,20.49,4.06,Male,Yes,Sat,Dinner,2,10.24,Karl Mcdaniel,1.800240e+14,Sat7865
107,25.21,4.29,Male,Yes,Sat,Dinner,2,12.60,Jason Mullen,4.738780e+12,Sat5196
108,18.24,3.76,Male,No,Sat,Dinner,2,9.12,Steven Grant,4.112810e+15,Sat6376
109,14.31,4.00,Female,Yes,Sat,Dinner,2,7.16,Amanda Anderson,3.756390e+14,Sat2614
110,14.00,3.00,Male,No,Sat,Dinner,2,7.00,James Sanchez,3.452430e+14,Sat6801
111,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3.559220e+15,Sat4801
112,38.07,4.00,Male,No,Sun,Dinner,3,12.69,Jeff Lopez,3.572870e+15,Sun591
113,23.95,2.55,Male,No,Sun,Dinner,2,11.98,John Joyce,6.565960e+15,Sun1885
114,25.71,4.00,Female,No,Sun,Dinner,3,8.57,Katie Smith,5.400160e+15,Sun6492
115,17.31,3.50,Female,No,Sun,Dinner,2,8.65,Kayla Stone,3.794940e+14,Sun8746
116,29.93,5.07,Male,No,Sun,Dinner,4,7.48,Shawn Blake,4.689080e+15,Sun22
117,10.65,1.50,Female,No,Thur,Lunch,2,5.32,Linda Zhang,3.560510e+15,Thur9593
118,12.43,1.80,Female,No,Thur,Lunch,2,6.22,Dr. Caroline Tucker,5.020470e+11,Thur8084
119,24.08,2.92,Female,No,Thur,Lunch,4,6.02,Melanie Jordan,6.762120e+11,Thur8063
120,11.69,2.31,Male,No,Thur,Lunch,2,5.84,Kenneth Goodman,4.891260e+12,Thur8289
121,13.42,1.68,Female,No,Thur,Lunch,2,6.71,Laura Garcia,5.181480e+15,Thur2158
122,14.26,2.50,Male,No,Thur,Lunch,2,7.13,Perry Garcia,1.800350e+14,Thur3579
123,15.95,2.00,Male,No,Thur,Lunch,2,7.98,Christopher Lang,4.820630e+15,Thur1992
124,12.48,2.52,Female,No,Thur,Lunch,2,6.24,Jordan Diaz,4.472780e+15,Thur208
125,29.80,4.20,Female,No,Thur,Lunch,6,4.97,Angela Sanchez,5.038570e+11,Thur3948
126,8.52,1.48,Male,No,Thur,Lunch,2,4.26,Mario Bradshaw,4.524400e+15,Thur6719
127,14.52,2.00,Female,No,Thur,Lunch,2,7.26,Jessica Simmons,2.131020e+14,Thur1512
128,11.38,2.00,Female,No,Thur,Lunch,2,5.69,Christine Perkins,3.548390e+15,Thur8551
129,22.82,2.18,Male,No,Thur,Lunch,3,7.61,Raymond Torres,4.855780e+12,Thur9424
130,19.08,1.50,Male,No,Thur,Lunch,2,9.54,Seth genderton,2.131140e+14,Thur1446
131,20.27,2.83,Female,No,Thur,Lunch,2,10.14,Ashley Burke,5.394650e+15,Thur9005
132,11.17,1.50,Female,No,Thur,Lunch,2,5.58,Taylor Gonzalez,6.011990e+15,Thur7783
133,12.26,2.00,Female,No,Thur,Lunch,2,6.13,Kaitlin Wolf,6.763480e+11,Thur1561
134,18.26,3.25,Female,No,Thur,Lunch,2,9.13,Karen Rodriguez,4.952600e+12,Thur75
135,8.51,1.25,Female,No,Thur,Lunch,2,4.26,Rebecca Harris,4.320270e+15,Thur6600
136,10.33,2.00,Female,No,Thur,Lunch,2,5.16,Donna Kelly,1.800490e+14,Thur1393
137,14.15,2.00,Female,No,Thur,Lunch,2,7.08,Vanessa Morris,2.131890e+14,Thur3890
138,16.00,2.00,Male,Yes,Thur,Lunch,2,8.00,Jason Burgess,3.561460e+15,Thur2710
139,13.16,2.75,Female,No,Thur,Lunch,2,6.58,Lindsey Meyer,6.762400e+11,Thur6245
140,17.47,3.50,Female,No,Thur,Lunch,2,8.74,Kayla Rios,5.233920e+15,Thur3906
141,34.30,6.70,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3.526520e+15,Thur1025
142,41.19,5.00,Male,No,Thur,Lunch,5,8.24,Eric Andrews,4.356530e+15,Thur3621
143,27.05,5.00,Female,No,Thur,Lunch,6,4.51,Regina Jones,4.311050e+12,Thur6179
144,16.43,2.30,Female,No,Thur,Lunch,2,8.22,Linda Jones,6.542730e+15,Thur9002
145,8.35,1.50,Female,No,Thur,Lunch,2,4.18,Amy Young,4.285450e+12,Thur9331
146,18.64,1.36,Female,No,Thur,Lunch,3,6.21,Kelly Estrada,6.046330e+10,Thur3941
147,11.87,1.63,Female,No,Thur,Lunch,2,5.94,Annette Cunningham,6.759380e+11,Thur4780
148,9.78,1.73,Male,No,Thur,Lunch,2,4.89,David Stewart,3.578010e+15,Thur7276
149,7.51,2.00,Male,No,Thur,Lunch,2,3.76,Daniel Robbins,4.823140e+15,Thur6321
150,14.07,2.50,Male,No,Sun,Dinner,2,7.04,Luke Rice,4.813620e+15,Sun8863
151,13.13,2.00,Male,No,Sun,Dinner,2,6.56,Jason Arnold,3.571830e+15,Sun2127
152,17.26,2.74,Male,No,Sun,Dinner,3,5.75,Gregory Smith,4.292360e+12,Sun5205
153,24.55,2.00,Male,No,Sun,Dinner,4,6.14,Todd Patterson,4.416800e+15,Sun8670
154,19.77,2.00,Male,No,Sun,Dinner,4,4.94,James Smith,2.131700e+14,Sun5814
155,29.85,5.14,Female,No,Sun,Dinner,5,5.97,Madison Wilson,4.210880e+15,Sun9176
156,48.17,5.00,Male,No,Sun,Dinner,6,8.03,Ryan Gonzales,3.523150e+15,Sun7518
157,25.00,3.75,Female,No,Sun,Dinner,4,6.25,Laura Robles,2.131590e+14,Sun7015
158,13.39,2.61,Female,No,Sun,Dinner,2,6.70,Ashley Boyd,3.571090e+15,Sun982
159,16.49,2.00,Male,No,Sun,Dinner,4,4.12,Christopher Soto,3.050180e+13,Sun1781
160,21.50,3.50,Male,No,Sun,Dinner,4,5.38,Travis Gonzalez,3.527670e+15,Sun245
161,12.66,2.50,Male,No,Sun,Dinner,2,6.33,Brandon Oconnor,4.406880e+15,Sun5879
162,16.21,2.00,Female,No,Sun,Dinner,3,5.40,Jennifer Baird,4.227830e+15,Sun5521
163,13.81,2.00,Male,No,Sun,Dinner,2,6.90,Charles Newton,5.552790e+15,Sun8594
164,17.51,3.00,Female,Yes,Sun,Dinner,2,8.76,Audrey Griffin,3.500850e+15,Sun444
165,24.52,3.48,Male,No,Sun,Dinner,3,8.17,Jacob Hansen,4.031120e+12,Sun9043
166,20.76,2.24,Male,No,Sun,Dinner,2,10.38,Gordon Lane,4.110600e+15,Sun6738
167,31.71,4.50,Male,No,Sun,Dinner,4,7.93,Michael Lawson,3.566290e+15,Sun3719
168,10.59,1.61,Female,Yes,Sat,Dinner,2,5.30,Sara Jimenez,5.020530e+11,Sat9795
169,10.63,2.00,Female,Yes,Sat,Dinner,2,5.32,Amy Hill,3.536330e+15,Sat1788
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5.473850e+15,Sat1954
171,15.81,3.16,Male,Yes,Sat,Dinner,2,7.90,David Hall,5.020040e+11,Sat6750
172,7.25,5.15,Male,Yes,Sun,Dinner,2,3.62,Larry White,3.043260e+13,Sun9209
173,31.85,3.18,Male,Yes,Sun,Dinner,2,15.92,Scott Perez,3.577120e+15,Sun9335
174,16.82,4.00,Male,Yes,Sun,Dinner,2,8.41,Brian Miles,3.586340e+15,Sun7621
175,32.90,3.11,Male,Yes,Sun,Dinner,2,16.45,Nathan Reynolds,3.703070e+14,Sun5109
176,17.89,2.00,Male,Yes,Sun,Dinner,2,8.94,Walter Simmons,6.011480e+15,Sun5961
177,14.48,2.00,Male,Yes,Sun,Dinner,2,7.24,John Dudley,4.565180e+15,Sun6203
178,9.60,4.00,Female,Yes,Sun,Dinner,2,4.80,Melanie Gray,4.211810e+12,Sun4598
179,34.63,3.55,Male,Yes,Sun,Dinner,2,17.32,Brian Bailey,3.466560e+14,Sun9851
180,34.65,3.68,Male,Yes,Sun,Dinner,4,8.66,James Hebert DDS,6.761690e+11,Sun7544
181,23.33,5.65,Male,Yes,Sun,Dinner,2,11.66,Jason Cox,6.556930e+15,Sun3402
182,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4.112210e+15,Sun2337
183,23.17,6.50,Male,Yes,Sun,Dinner,4,5.79,Dr. Michael James,4.718500e+12,Sun6059
184,40.55,3.00,Male,Yes,Sun,Dinner,2,20.27,Stephen Cox,3.547800e+15,Sun5140
185,20.69,5.00,Male,No,Sun,Dinner,5,4.14,Joseph Howell,3.036240e+13,Sun5842
186,20.90,3.50,Female,Yes,Sun,Dinner,3,6.97,Heidi Atkinson,4.422860e+15,Sun4254
187,30.46,2.00,Male,Yes,Sun,Dinner,5,6.09,David Barrett,4.792880e+15,Sun9987
188,18.15,3.50,Female,Yes,Sun,Dinner,3,6.05,Glenda Wiggins,5.783290e+11,Sun430
189,23.10,4.00,Male,Yes,Sun,Dinner,3,7.70,Richard Stevens,3.560190e+15,Sun1821
190,15.69,1.50,Male,Yes,Sun,Dinner,2,7.84,Riley Barnes,1.800540e+14,Sun5104
191,19.81,4.19,Female,Yes,Thur,Lunch,2,9.90,Kristy Boyd,4.317020e+15,Thur967
192,28.44,2.56,Male,Yes,Thur,Lunch,2,14.22,Dr. Jeffrey Rich,4.737540e+12,Thur4334
193,15.48,2.02,Male,Yes,Thur,Lunch,2,7.74,Raymond Sullivan,1.800690e+14,Thur606
194,16.58,4.00,Male,Yes,Thur,Lunch,2,8.29,Benjamin Weber,6.762100e+11,Thur9318
195,7.56,1.44,Male,No,Thur,Lunch,2,3.78,Michael White,4.865390e+15,Thur697
196,10.34,2.00,Male,Yes,Thur,Lunch,2,5.17,Eric Martin,3.044250e+13,Thur9862
197,43.11,5.00,Female,Yes,Thur,Lunch,4,10.78,Brooke Soto,5.544900e+15,Thur9313
198,13.00,2.00,Female,Yes,Thur,Lunch,2,6.50,Katherine Bond,4.926730e+12,Thur437
199,13.51,2.00,Male,Yes,Thur,Lunch,2,6.76,Joseph Murphy MD,6.547220e+15,Thur2428
200,18.71,4.00,Male,Yes,Thur,Lunch,3,6.24,Jason Conrad,4.581230e+12,Thur6048
201,12.74,2.01,Female,Yes,Thur,Lunch,2,6.37,Abigail Parks,3.586650e+15,Thur2544
202,13.00,2.00,Female,Yes,Thur,Lunch,2,6.50,Ashley Shaw,1.800880e+14,Thur1301
203,16.40,2.50,Female,Yes,Thur,Lunch,2,8.20,Toni Brooks,3.582290e+15,Thur7770
204,20.53,4.00,Male,Yes,Thur,Lunch,4,5.13,Scott Kim,3.570610e+15,Thur2160
205,16.47,3.23,Female,Yes,Thur,Lunch,3,5.49,Carly Reyes,4.787790e+12,Thur8084
206,26.59,3.41,Male,Yes,Sat,Dinner,3,8.86,Daniel Owens,3.897110e+13,Sat1
207,38.73,3.00,Male,Yes,Sat,Dinner,4,9.68,Ricky Ramirez,3.478180e+14,Sat4505
208,24.27,2.03,Male,Yes,Sat,Dinner,2,12.14,Jason Carter,4.268940e+15,Sat6048
209,12.76,2.23,Female,Yes,Sat,Dinner,2,6.38,Sarah Cunningham,3.418770e+14,Sat1274
210,30.06,2.00,Male,Yes,Sat,Dinner,3,10.02,Shawn Mendoza,3.018400e+13,Sat8361
211,25.89,5.16,Male,Yes,Sat,Dinner,4,6.47,Christopher Li,6.011960e+15,Sat6735
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,6.762190e+11,Sat4590
213,13.27,2.50,Female,Yes,Sat,Dinner,2,6.64,Robin Andersen,5.801410e+11,Sat1374
214,28.17,6.50,Female,Yes,Sat,Dinner,3,9.39,Marissa Jackson,4.922300e+15,Sat3374
215,12.90,1.10,Female,Yes,Sat,Dinner,2,6.45,Jessica Owen,4.726900e+12,Sat6983
216,28.15,3.00,Male,Yes,Sat,Dinner,5,5.63,Shawn Barnett PhD,4.590980e+12,Sat7320
217,11.59,1.50,Male,Yes,Sat,Dinner,2,5.80,Gary Orr,3.032450e+13,Sat8489
218,7.74,1.44,Male,Yes,Sat,Dinner,2,3.87,Nicholas Archer,3.405170e+14,Sat4772
219,30.14,3.09,Female,Yes,Sat,Dinner,4,7.54,Shelby House,5.020970e+11,Sat8863
220,12.16,2.20,Male,Yes,Fri,Lunch,2,6.08,Ricky Johnson,2.131100e+14,Fri4607
221,13.42,3.48,Female,Yes,Fri,Lunch,2,6.71,Leslie Kaufman,3.794380e+14,Fri7511
222,8.58,1.92,Male,Yes,Fri,Lunch,1,8.58,Jason Lawrence,3.505300e+15,Fri6624
223,15.98,3.00,Female,No,Fri,Lunch,3,5.33,Mary Rivera,5.343430e+15,Fri6014
224,13.42,1.58,Male,Yes,Fri,Lunch,2,6.71,Ronald Vaughn DVM,3.415030e+14,Fri5959
225,16.27,2.50,Female,Yes,Fri,Lunch,2,8.14,Whitney Arnold,3.579110e+15,Fri6665
226,10.09,2.00,Female,Yes,Fri,Lunch,2,5.04,Ruth Weiss,5.268690e+15,Fri6359
227,20.45,3.00,Male,No,Sat,Dinner,4,5.11,Robert Bradley,2.131420e+14,Sat4319
228,13.28,2.72,Male,No,Sat,Dinner,2,6.64,Glenn Jones,5.020620e+11,Sat2937
229,22.12,2.88,Female,Yes,Sat,Dinner,2,11.06,Jennifer Russell,4.793000e+12,Sat3943
230,24.01,2.00,Male,Yes,Sat,Dinner,4,6.00,Michael Osborne,4.258680e+12,Sat7872
231,15.69,3.00,Male,Yes,Sat,Dinner,3,5.23,Jason Parks,4.812330e+12,Sat6334
232,11.61,3.39,Male,No,Sat,Dinner,2,5.80,James Taylor,6.011480e+15,Sat2124
233,10.77,1.47,Male,No,Sat,Dinner,2,5.38,Paul Novak,6.011700e+15,Sat1467
234,15.53,3.00,Male,Yes,Sat,Dinner,2,7.76,Tracy Douglas,4.097940e+15,Sat7220
235,10.07,1.25,Male,No,Sat,Dinner,2,5.04,Sean Gonzalez,3.534020e+15,Sat4615
236,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3.543680e+15,Sat5032
237,32.83,1.17,Male,Yes,Sat,Dinner,2,16.42,Thomas Brown,4.284720e+15,Sat2929
238,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,6.761840e+11,Sat9777
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3.506810e+15,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.011890e+15,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.375220e+12,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3.511450e+15,Thur672

In [60]:
pd.reset_option('display.max_columns')
pd.reset_option('display.max_rows')
df

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3.506810e+15,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.011890e+15,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.375220e+12,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3.511450e+15,Thur672

In [61]:
# accessing the rows by index
df.iloc[0]

total_bill                       16.99
tip                               1.01
gender                          Female
smoker                              No
day                                Sun
time                            Dinner
size                                 2
price_per_person                  8.49
Payer Name          Christy Cunningham
CC Number           3560330000000000.0
Payment ID                     Sun2959
Name: 0, dtype: object

# Pandas conditional filtering

In [66]:
# Conditions on a single column
# print(df['total_bill'] < 30) # Boolean Series
print(df.total_bill < 30)   # Another syntax, cannot be used if column hsa spaces ... eg 'total bill' will not work.

0      True
1      True
2      True
3      True
4      True
       ...
239    True
240    True
241    True
242    True
243    True
Name: total_bill, Length: 244, dtype: bool

In [67]:
# Filter rows where total_bill is greater than 30
print(df[df['total_bill'] > 30 ])

     total_bill    tip  gender smoker   day    time  size  price_per_person  \
11        35.26   5.00  Female     No   Sun  Dinner     4              8.82
23        39.42   7.58    Male     No   Sat  Dinner     4              9.86
39        31.27   5.00    Male     No   Sat  Dinner     3             10.42
44        30.40   5.60    Male     No   Sun  Dinner     4              7.60
47        32.40   6.00    Male     No   Sun  Dinner     4              8.10
52        34.81   5.20  Female     No   Sun  Dinner     4              8.70
56        38.01   3.00    Male    Yes   Sat  Dinner     4              9.50
59        48.27   6.73    Male     No   Sat  Dinner     4             12.07
83        32.68   5.00    Male    Yes  Thur   Lunch     2             16.34
85        34.83   5.17  Female     No  Thur   Lunch     4              8.71
95        40.17   4.73    Male    Yes   Fri  Dinner     4             10.04
102       44.30   2.50  Female    Yes   Sat  Dinner     3             14.77
112       38.07   4.00    Male     No   Sun  Dinner     3             12.69
141       34.30   6.70    Male     No  Thur   Lunch     6              5.72
142       41.19   5.00    Male     No  Thur   Lunch     5              8.24
156       48.17   5.00    Male     No   Sun  Dinner     6              8.03
167       31.71   4.50    Male     No   Sun  Dinner     4              7.93
170       50.81  10.00    Male    Yes   Sat  Dinner     3             16.94
173       31.85   3.18    Male    Yes   Sun  Dinner     2             15.92
175       32.90   3.11    Male    Yes   Sun  Dinner     2             16.45
179       34.63   3.55    Male    Yes   Sun  Dinner     2             17.32
180       34.65   3.68    Male    Yes   Sun  Dinner     4              8.66
182       45.35   3.50    Male    Yes   Sun  Dinner     3             15.12
184       40.55   3.00    Male    Yes   Sun  Dinner     2             20.27
187       30.46   2.00    Male    Yes   Sun  Dinner     5              6.09
197       43.11   5.00  Female    Yes  Thur   Lunch     4             10.78
207       38.73   3.00    Male    Yes   Sat  Dinner     4              9.68
210       30.06   2.00    Male    Yes   Sat  Dinner     3             10.02
212       48.33   9.00    Male     No   Sat  Dinner     4             12.08
219       30.14   3.09  Female    Yes   Sat  Dinner     4              7.54
237       32.83   1.17    Male    Yes   Sat  Dinner     2             16.42
238       35.83   4.67  Female     No   Sat  Dinner     3             11.94

                Payer Name     CC Number Payment ID
11            Diane Macias  4.577820e+15    Sun6686
23          Lance Peterson  3.542580e+15     Sat239
39       Mr. Brandon Berry  6.011530e+15    Sat6373
44             Todd Cooper  5.038470e+11    Sun2274
47            James Barnes  3.552000e+15    Sun9677
52            Emily Daniel  4.291280e+15    Sun6165
56   James Christensen DDS  3.497940e+14    Sat8903
59             Brian Ortiz  6.596450e+15    Sat8139
83           Daniel Murphy  5.356180e+15   Thur8801
85             Shawna Cook  6.011790e+15   Thur7972
95           Aaron Bentley  1.800270e+14    Fri9628
102          Heather Cohen  3.797710e+14    Sat6240
112             Jeff Lopez  3.572870e+15     Sun591
141         Steven Carlson  3.526520e+15   Thur1025
142           Eric Andrews  4.356530e+15   Thur3621
156          Ryan Gonzales  3.523150e+15    Sun7518
167         Michael Lawson  3.566290e+15    Sun3719
170          Gregory Clark  5.473850e+15    Sat1954
173            Scott Perez  3.577120e+15    Sun9335
175        Nathan Reynolds  3.703070e+14    Sun5109
179           Brian Bailey  3.466560e+14    Sun9851
180       James Hebert DDS  6.761690e+11    Sun7544
182           Jose Parsons  4.112210e+15    Sun2337
184            Stephen Cox  3.547800e+15    Sun5140
187          David Barrett  4.792880e+15    Sun9987
197            Brooke Soto  5.544900e+15   Thur9313
207          Ricky Ramirez  3.478180e+14    Sat4505
210          Shawn Mendoza  3.018400e+13    Sat8361
212        Alex Williamson  6.762190e+11    Sat4590
219           Shelby House  5.020970e+11    Sat8863
237           Thomas Brown  4.284720e+15    Sat2929
238         Kimberly Crane  6.761840e+11    Sat9777

In [68]:
# Filter rows based on gender
print(df[df['gender'] == 'Male'])

     total_bill   tip gender smoker  day    time  size  price_per_person  \
1         10.34  1.66   Male     No  Sun  Dinner     3              3.45
2         21.01  3.50   Male     No  Sun  Dinner     3              7.00
3         23.68  3.31   Male     No  Sun  Dinner     2             11.84
5         25.29  4.71   Male     No  Sun  Dinner     4              6.32
6          8.77  2.00   Male     No  Sun  Dinner     2              4.38
..          ...   ...    ...    ...  ...     ...   ...               ...
236       12.60  1.00   Male    Yes  Sat  Dinner     2              6.30
237       32.83  1.17   Male    Yes  Sat  Dinner     2             16.42
239       29.03  5.92   Male     No  Sat  Dinner     3              9.68
241       22.67  2.00   Male    Yes  Sat  Dinner     2             11.34
242       17.82  1.75   Male     No  Sat  Dinner     2              8.91

             Payer Name     CC Number Payment ID
1        Douglas Tucker  4.478070e+15    Sun4608
2        Travis Walters  6.011810e+15    Sun4458
3      Nathaniel Harris  4.676140e+15    Sun5260
5            Erik Smith  2.131400e+14    Sun9679
6    Kristopher Johnson  2.223730e+15    Sun5985
..                  ...           ...        ...
236       Matthew Myers  3.543680e+15    Sat5032
237        Thomas Brown  4.284720e+15    Sat2929
239       Michael Avila  5.296070e+15    Sat2657
241          Keith Wong  6.011890e+15    Sat3880
242        Dennis Dixon  4.375220e+12      Sat17

[157 rows x 11 columns]

In [71]:
# Multiple conditions (AND, OR, NOT)

df[(df['total_bill']>30) & (df['gender'] == 'Male')]

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
23,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3.542580e+15,Sat239
39,31.27,5.00,Male,No,Sat,Dinner,3,10.42,Mr. Brandon Berry,6.011530e+15,Sat6373
44,30.40,5.60,Male,No,Sun,Dinner,4,7.60,Todd Cooper,5.038470e+11,Sun2274
47,32.40,6.00,Male,No,Sun,Dinner,4,8.10,James Barnes,3.552000e+15,Sun9677
56,38.01,3.00,Male,Yes,Sat,Dinner,4,9.50,James Christensen DDS,3.497940e+14,Sat8903
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6.596450e+15,Sat8139
83,32.68,5.00,Male,Yes,Thur,Lunch,2,16.34,Daniel Murphy,5.356180e+15,Thur8801
95,40.17,4.73,Male,Yes,Fri,Dinner,4,10.04,Aaron Bentley,1.800270e+14,Fri9628
112,38.07,4.00,Male,No,Sun,Dinner,3,12.69,Jeff Lopez,3.572870e+15,Sun591
141,34.30,6.70,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3.526520e+15,Thur1025
142,41.19,5.00,Male,No,Thur,Lunch,5,8.24,Eric Andrews,4.356530e+15,Thur3621
156,48.17,5.00,Male,No,Sun,Dinner,6,8.03,Ryan Gonzales,3.523150e+15,Sun7518
167,31.71,4.50,Male,No,Sun,Dinner,4,7.93,Michael Lawson,3.566290e+15,Sun3719
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5.473850e+15,Sat1954
173,31.85,3.18,Male,Yes,Sun,Dinner,2,15.92,Scott Perez,3.577120e+15,Sun9335
175,32.90,3.11,Male,Yes,Sun,Dinner,2,16.45,Nathan Reynolds,3.703070e+14,Sun5109
179,34.63,3.55,Male,Yes,Sun,Dinner,2,17.32,Brian Bailey,3.466560e+14,Sun9851
180,34.65,3.68,Male,Yes,Sun,Dinner,4,8.66,James Hebert DDS,6.761690e+11,Sun7544
182,45.35,3.50,Male,Yes,Sun,Dinner,3,15.12,Jose Parsons,4.112210e+15,Sun2337
184,40.55,3.00,Male,Yes,Sun,Dinner,2,20.27,Stephen Cox,3.547800e+15,Sun5140
187,30.46,2.00,Male,Yes,Sun,Dinner,5,6.09,David Barrett,4.792880e+15,Sun9987
207,38.73,3.00,Male,Yes,Sat,Dinner,4,9.68,Ricky Ramirez,3.478180e+14,Sat4505
210,30.06,2.00,Male,Yes,Sat,Dinner,3,10.02,Shawn Mendoza,3.018400e+13,Sat8361
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,6.762190e+11,Sat4590
237,32.83,1.17,Male,Yes,Sat,Dinner,2,16.42,Thomas Brown,4.284720e+15,Sat2929

In [72]:
df[(df['total_bill']>30) & ~(df['gender'] == 'Male')]

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
11,35.26,5.00,Female,No,Sun,Dinner,4,8.82,Diane Macias,4.577820e+15,Sun6686
52,34.81,5.20,Female,No,Sun,Dinner,4,8.70,Emily Daniel,4.291280e+15,Sun6165
85,34.83,5.17,Female,No,Thur,Lunch,4,8.71,Shawna Cook,6.011790e+15,Thur7972
102,44.30,2.50,Female,Yes,Sat,Dinner,3,14.77,Heather Cohen,3.797710e+14,Sat6240
197,43.11,5.00,Female,Yes,Thur,Lunch,4,10.78,Brooke Soto,5.544900e+15,Thur9313
219,30.14,3.09,Female,Yes,Sat,Dinner,4,7.54,Shelby House,5.020970e+11,Sat8863
238,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,6.761840e+11,Sat9777

In [77]:
df[(df['total_bill'] < 10) | (df['tip'] > 5)]

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
6,8.77,2.00,Male,No,Sun,Dinner,2,4.38,Kristopher Johnson,2.223730e+15,Sun5985
23,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3.542580e+15,Sat239
30,9.55,1.45,Male,No,Sat,Dinner,2,4.78,Grant Hall,3.019650e+13,Sat4099
43,9.68,1.32,Male,No,Sun,Dinner,2,4.84,Christopher Spears,4.387670e+15,Sun3279
44,30.40,5.60,Male,No,Sun,Dinner,4,7.60,Todd Cooper,5.038470e+11,Sun2274
47,32.40,6.00,Male,No,Sun,Dinner,4,8.10,James Barnes,3.552000e+15,Sun9677
52,34.81,5.20,Female,No,Sun,Dinner,4,8.70,Emily Daniel,4.291280e+15,Sun6165
53,9.94,1.56,Male,No,Sun,Dinner,2,4.97,Curtis Morgan,4.628630e+15,Sun4561
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6.596450e+15,Sat8139
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4.359490e+15,Sat3455
85,34.83,5.17,Female,No,Thur,Lunch,4,8.71,Shawna Cook,6.011790e+15,Thur7972
88,24.71,5.85,Male,No,Thur,Lunch,2,12.36,Roger Taylor,4.410250e+12,Thur9003
92,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3.508910e+15,Fri3780
111,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3.559220e+15,Sat4801
116,29.93,5.07,Male,No,Sun,Dinner,4,7.48,Shawn Blake,4.689080e+15,Sun22
126,8.52,1.48,Male,No,Thur,Lunch,2,4.26,Mario Bradshaw,4.524400e+15,Thur6719
135,8.51,1.25,Female,No,Thur,Lunch,2,4.26,Rebecca Harris,4.320270e+15,Thur6600
141,34.30,6.70,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3.526520e+15,Thur1025
145,8.35,1.50,Female,No,Thur,Lunch,2,4.18,Amy Young,4.285450e+12,Thur9331
148,9.78,1.73,Male,No,Thur,Lunch,2,4.89,David Stewart,3.578010e+15,Thur7276
149,7.51,2.00,Male,No,Thur,Lunch,2,3.76,Daniel Robbins,4.823140e+15,Thur6321
155,29.85,5.14,Female,No,Sun,Dinner,5,5.97,Madison Wilson,4.210880e+15,Sun9176
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5.473850e+15,Sat1954
172,7.25,5.15,Male,Yes,Sun,Dinner,2,3.62,Larry White,3.043260e+13,Sun9209
178,9.60,4.00,Female,Yes,Sun,Dinner,2,4.80,Melanie Gray,4.211810e+12,Sun4598
181,23.33,5.65,Male,Yes,Sun,Dinner,2,11.66,Jason Cox,6.556930e+15,Sun3402
183,23.17,6.50,Male,Yes,Sun,Dinner,4,5.79,Dr. Michael James,4.718500e+12,Sun6059
195,7.56,1.44,Male,No,Thur,Lunch,2,3.78,Michael White,4.865390e+15,Thur697
211,25.89,5.16,Male,Yes,Sat,Dinner,4,6.47,Christopher Li,6.011960e+15,Sat6735
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,6.762190e+11,Sat4590
214,28.17,6.50,Female,Yes,Sat,Dinner,3,9.39,Marissa Jackson,4.922300e+15,Sat3374
218,7.74,1.44,Male,Yes,Sat,Dinner,2,3.87,Nicholas Archer,3.405170e+14,Sat4772
222,8.58,1.92,Male,Yes,Fri,Lunch,1,8.58,Jason Lawrence,3.505300e+15,Fri6624
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15,Sat2657

In [ ]:
# Using 'in' for checking if a column value is in a list of options
options = ['Sat', 'Sun']
df[df['day'].isin(options)]
df[(df['day'] == 'Sat') | (df['day'] == 'Sun')] # Same as above

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
238,35.83,4.67,Female,No,Sat,Dinner,3,11.94,Kimberly Crane,6.761840e+11,Sat9777
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5.296070e+15,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3.506810e+15,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.011890e+15,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4.375220e+12,Sat17

# Pandas Useful methods

## Sort values by tip

In [83]:
# df.sort_values('tip').head()
df.sort_values('tip', ascending=False).head()   # descending

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
170,50.81,10.00,Male,Yes,Sat,Dinner,3,16.94,Gregory Clark,5.473850e+15,Sat1954
212,48.33,9.00,Male,No,Sat,Dinner,4,12.08,Alex Williamson,6.762190e+11,Sat4590
23,39.42,7.58,Male,No,Sat,Dinner,4,9.86,Lance Peterson,3.542580e+15,Sat239
59,48.27,6.73,Male,No,Sat,Dinner,4,12.07,Brian Ortiz,6.596450e+15,Sat8139
141,34.30,6.70,Male,No,Thur,Lunch,6,5.72,Steven Carlson,3.526520e+15,Thur1025

## calculate correlation between two cols

In [82]:
# calculate correlation between 'total_bill' and 'tip'
df[['total_bill','tip']].corr()

            total_bill       tip
total_bill    1.000000  0.675734
tip           0.675734  1.000000

In [95]:
# Find index of max and min total bill 
print("max Total Bill : ",df['total_bill'].max())
print("Index of max Total Bill : ",df['total_bill'].idxmax())
print("Index of min Total Bill : ",df['total_bill'].idxmin())

max Total Bill :  50.81
Index of max Total Bill :  170
Index of min Total Bill :  67

In [ ]:
df.iloc[df['total_bill'].idxmax(), :]

total_bill                       50.81
tip                               10.0
gender                            Male
smoker                             Yes
day                                Sat
time                            Dinner
size                                 3
price_per_person                 16.94
Payer Name               Gregory Clark
CC Number           5473850000000000.0
Payment ID                     Sat1954
Name: 170, dtype: object

In [98]:
df.iloc[:10, :2]

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50
3       23.68  3.31
4       24.59  3.61
5       25.29  4.71
6        8.77  2.00
7       26.88  3.12
8       15.04  1.96
9       14.78  3.23

## Get count of unique values in categorical columns

In [102]:
# df['smoker'].value_counts()
df['gender'].value_counts()

gender
Male      157
Female     87
Name: count, dtype: int64

In [109]:
# df['size'].unique()
df['size'].nunique()

6

In [110]:
# Map Dinner to 'D' and Lunch to 'L' in time column
df['time_mapped'] = df['time'] .map({'Dinner' : 'D', 'Lunch' : 'L'})
df[['time', 'time_mapped']].head()

     time time_mapped
0  Dinner           D
1  Dinner           D
2  Dinner           D
3  Dinner           D
4  Dinner           D

In [114]:
# Check for duplicates and drop them
df.duplicated().sum()
df_no_duplicates = df.drop_duplicates()
df_no_duplicates.head()

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,time_mapped
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959,D
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608,D
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6.011810e+15,Sun4458,D
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4.676140e+15,Sun5260,D
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4.832730e+15,Sun2251,D

## Between() to filter values between a range

In [118]:
filtered_df = df[df['total_bill'].between(10,11,inclusive='both')]
filtered_df

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,time_mapped
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4.478070e+15,Sun4608,D
10,10.27,1.71,Male,No,Sun,Dinner,2,5.14,William Riley,5.662880e+11,Sun2546,D
16,10.33,1.67,Female,No,Sun,Dinner,3,3.44,Elizabeth Foster,4.240030e+15,Sun9715,D
51,10.29,2.60,Female,No,Sun,Dinner,2,5.14,Jessica Ibarra,4.999760e+12,Sun4474,D
75,10.51,1.25,Male,No,Sat,Dinner,2,5.26,Kenneth Hayes,2.131420e+14,Sat5056,D
82,10.07,1.83,Female,No,Thur,Lunch,1,10.07,Julie Moody,6.304130e+11,Thur4909,L
117,10.65,1.50,Female,No,Thur,Lunch,2,5.32,Linda Zhang,3.560510e+15,Thur9593,L
136,10.33,2.00,Female,No,Thur,Lunch,2,5.16,Donna Kelly,1.800490e+14,Thur1393,L
168,10.59,1.61,Female,Yes,Sat,Dinner,2,5.30,Sara Jimenez,5.020530e+11,Sat9795,D
169,10.63,2.00,Female,Yes,Sat,Dinner,2,5.32,Amy Hill,3.536330e+15,Sat1788,D
196,10.34,2.00,Male,Yes,Thur,Lunch,2,5.17,Eric Martin,3.044250e+13,Thur9862,L
226,10.09,2.00,Female,Yes,Fri,Lunch,2,5.04,Ruth Weiss,5.268690e+15,Fri6359,L
233,10.77,1.47,Male,No,Sat,Dinner,2,5.38,Paul Novak,6.011700e+15,Sat1467,D
235,10.07,1.25,Male,No,Sat,Dinner,2,5.04,Sean Gonzalez,3.534020e+15,Sat4615,D

## Sample random data

In [120]:
df.sample(5)       # randomly sample 5 rows
df.sample(frac=0.1)     #randomly sample 10% of the rows

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,time_mapped
85,34.83,5.17,Female,No,Thur,Lunch,4,8.71,Shawna Cook,6.011790e+15,Thur7972,L
56,38.01,3.00,Male,Yes,Sat,Dinner,4,9.50,James Christensen DDS,3.497940e+14,Sat8903,D
129,22.82,2.18,Male,No,Thur,Lunch,3,7.61,Raymond Torres,4.855780e+12,Thur9424,L
125,29.80,4.20,Female,No,Thur,Lunch,6,4.97,Angela Sanchez,5.038570e+11,Thur3948,L
89,21.16,3.00,Male,No,Thur,Lunch,2,10.58,Keith Lewis,4.356010e+15,Thur6273,L
142,41.19,5.00,Male,No,Thur,Lunch,5,8.24,Eric Andrews,4.356530e+15,Thur3621,L
51,10.29,2.60,Female,No,Sun,Dinner,2,5.14,Jessica Ibarra,4.999760e+12,Sun4474,D
157,25.00,3.75,Female,No,Sun,Dinner,4,6.25,Laura Robles,2.131590e+14,Sun7015,D
151,13.13,2.00,Male,No,Sun,Dinner,2,6.56,Jason Arnold,3.571830e+15,Sun2127,D
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6.011890e+15,Sat3880,D
43,9.68,1.32,Male,No,Sun,Dinner,2,4.84,Christopher Spears,4.387670e+15,Sun3279,D
42,13.94,3.06,Male,No,Sun,Dinner,2,6.97,Bryan Brown,3.623120e+13,Sun1699,D
220,12.16,2.20,Male,Yes,Fri,Lunch,2,6.08,Ricky Johnson,2.131100e+14,Fri4607,L
145,8.35,1.50,Female,No,Thur,Lunch,2,4.18,Amy Young,4.285450e+12,Thur9331,L
31,18.35,2.50,Male,No,Sat,Dinner,4,4.59,Danny Santiago,6.304160e+11,Sat4947,D
134,18.26,3.25,Female,No,Thur,Lunch,2,9.13,Karen Rodriguez,4.952600e+12,Thur75,L
78,22.76,3.00,Male,No,Thur,Lunch,2,11.38,Chris Hahn,3.591890e+15,Thur2863,L
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3.506810e+15,Sat1766,D
158,13.39,2.61,Female,No,Sun,Dinner,2,6.70,Ashley Boyd,3.571090e+15,Sun982,D
165,24.52,3.48,Male,No,Sun,Dinner,3,8.17,Jacob Hansen,4.031120e+12,Sun9043,D
75,10.51,1.25,Male,No,Sat,Dinner,2,5.26,Kenneth Hayes,2.131420e+14,Sat5056,D
110,14.00,3.00,Male,No,Sat,Dinner,2,7.00,James Sanchez,3.452430e+14,Sat6801,D
189,23.10,4.00,Male,Yes,Sun,Dinner,3,7.70,Richard Stevens,3.560190e+15,Sun1821,D
209,12.76,2.23,Female,Yes,Sat,Dinner,2,6.38,Sarah Cunningham,3.418770e+14,Sat1274,D

In [122]:
# Get n largest and smallest values by 'tip'
df.nlargest(10,'tip')
df.nsmallest(10,'tip')

,total_bill,tip,gender,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID,time_mapped
67,3.07,1.00,Female,Yes,Sat,Dinner,1,3.07,Tiffany Brock,4.359490e+15,Sat3455,D
92,5.75,1.00,Female,Yes,Fri,Dinner,2,2.88,Leah Ramirez,3.508910e+15,Fri3780,D
111,7.25,1.00,Female,No,Sat,Dinner,1,7.25,Terri Jones,3.559220e+15,Sat4801,D
236,12.60,1.00,Male,Yes,Sat,Dinner,2,6.30,Matthew Myers,3.543680e+15,Sat5032,D
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3.560330e+15,Sun2959,D
215,12.90,1.10,Female,Yes,Sat,Dinner,2,6.45,Jessica Owen,4.726900e+12,Sat6983,D
237,32.83,1.17,Male,Yes,Sat,Dinner,2,16.42,Thomas Brown,4.284720e+15,Sat2929,D
75,10.51,1.25,Male,No,Sat,Dinner,2,5.26,Kenneth Hayes,2.131420e+14,Sat5056,D
135,8.51,1.25,Female,No,Thur,Lunch,2,4.26,Rebecca Harris,4.320270e+15,Thur6600,L
235,10.07,1.25,Male,No,Sat,Dinner,2,5.04,Sean Gonzalez,3.534020e+15,Sat4615,D

# Grouping

- **Splitting**: The data is divided into groups based on criteria provided.
- **Applying**: A function (or multiple functions) is applied to each group independently
- **Combining**: The results of the function applications are combined into a new dataframe

In [133]:
# splitting -  group by gender
df_grouped = df.groupby('gender')
df_grouped

# Applying - calculate various statistics for 'tip' by 'gender'
mean_tip_by_gender = df_grouped['tip'].mean()   # Mean tip by gender
mean_tip_by_gender
# df_grouped['tip'].count()

# Combining - Group by both 'gender' and 'day'
df_grouped_day = df.groupby(['gender','day'])
mean_tip_by_gender_day = df_grouped_day['tip'].mean()   #Mean tip by gender and day
mean_tip_by_gender_day

gender  day
Female  Fri     2.781111
        Sat     2.801786
        Sun     3.367222
        Thur    2.575625
Male    Fri     2.693000
        Sat     3.083898
        Sun     3.220345
        Thur    2.980333
Name: tip, dtype: float64

In [137]:
# Aggregation with multiple function
df_grouped_agg = df.groupby(['gender', 'day']).agg({'tip': ['mean','sum', 'count']})
df_grouped_agg
# df_grouped_agg = df.groupby(['gender', 'day']).agg({'tip': ['mean','sum']}).reset_index()
# df_grouped_agg

                  tip
                 mean     sum count
gender day
Female Fri   2.781111   25.03     9
       Sat   2.801786   78.45    28
       Sun   3.367222   60.61    18
       Thur  2.575625   82.42    32
Male   Fri   2.693000   26.93    10
       Sat   3.083898  181.95    59
       Sun   3.220345  186.78    58
       Thur  2.980333   89.41    30