In [1]:
import pandas as pd

In [2]:
# Importing the Dog-Bites dataset into a dataframe
dog_df = pd.read_csv("./data_pd/Dog_Bites_Data.csv")
dog_df.head()

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode
0,1,January 01 2018,DOG,UNKNOWN,NaN,U,False,Brooklyn,11220
1,2,January 04 2018,DOG,UNKNOWN,NaN,U,False,Brooklyn,NaN
2,3,January 06 2018,DOG,Pit Bull,NaN,U,False,Brooklyn,11224
3,4,January 08 2018,DOG,Mixed/Other,4,M,False,Brooklyn,11231
4,5,January 09 2018,DOG,Pit Bull,NaN,U,False,Brooklyn,11224

In [8]:
dog_df['DateOfBite'].dropna()
dog_df['Age'].dropna()
dog_df['Gender'].dropna()
dog_df['SpayNeuter'].dropna()
dog_df['ZipCode'].dropna()
len(dog_df)

22663

In [9]:
filtered_dog_df = dog_df[dog_df['Gender'] != 'U']

In [10]:
filtered_dog_df.head(15)

,UniqueID,DateOfBite,Species,Breed,Age,Gender,SpayNeuter,Borough,ZipCode
3,4,January 08 2018,DOG,Mixed/Other,4,M,False,Brooklyn,11231
5,6,January 03 2018,DOG,BASENJI,4Y,M,False,Brooklyn,11231
8,9,January 04 2018,DOG,American Pit Bull Mix / Pit Bull Mix,5Y,M,False,Brooklyn,11235
9,10,January 10 2018,DOG,MIXED,3Y,F,False,Brooklyn,11208
11,12,January 07 2018,DOG,Yorkshire Terrier Crossbreed,7,M,True,Brooklyn,11208
12,13,January 06 2018,DOG,Great Dane,6,F,True,Brooklyn,NaN
14,15,January 09 2018,DOG,Labradoodle,5,F,True,Brooklyn,11238
15,16,January 01 2018,DOG,West High White Terrier,NaN,M,False,Brooklyn,11207
18,19,January 13 2018,DOG,MIXED,7,M,False,Brooklyn,11237
20,21,January 15 2018,DOG,"Poodle, Miniature",8,M,True,Brooklyn,11217
21,22,January 13 2018,DOG,American Pit Bull Terrier/Pit Bull,11,F,True,Brooklyn,11236
25,26,January 18 2018,DOG,Pekingese,3,M,True,Brooklyn,11220
26,27,January 08 2018,DOG,POODLE X,13Y,M,True,Brooklyn,11215
27,28,January 18 2018,DOG,Labrador Retriever Crossbreed,11,M,True,Brooklyn,11214
28,29,January 18 2018,DOG,American Pit Bull Terrier/Pit Bull,2,F,True,Brooklyn,11230